<section class="section">
    <div class="wrapper">
        <ul class="logo-partners">
            <li class="logo-partners__item">
                <img src="../img/bitrix_gold_partner.png" width="150" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/webasyst_partner.png" width="100" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/cs-cart_partner.png" width="100" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/yandex_agency.png" width="100" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/facebook_marketing_partner.jpg" width="150" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/target_partner.png" width="100" alt="">
            </li>
            <li class="logo-partners__item">
                <img src="../img/google_partner.png" width="150" alt="">
            </li>
        </ul>
        <div class="random-phrase-container">
          К нам обращаются, если нужно <div class="random-phrase"></div>
      </div>
    </div>
</section>