<canvas class="main-canvas" id="canvas"></canvas>
<section class="main-screen">
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="main-wrapper__item">
                <div class="main-title title-magic">
                    Создание сайтов, их продвижение, поддержка и реклама
                </div>
                <div class="tagline">Ваши поиски закончились</div>
            </div>
            <div class="main-wrapper__item">
                <div class="slider-wrapper">
                    <div class="slider-number">
                        <div>
                            <div class="number-info">
                                <div class="number-info__title">
                                    12+
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    лет опыта на рынке интернет маркетинга
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="number-info">
                                <div class="number-info__title">
                                    400+
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    реализованных проектов
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="number-info">
                                <div class="number-info__title">
                                    2
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    место студий России по разработке e-commerce сайтов (Рейтинг Рунета)
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="number-info">
                                <div class="number-info__title">
                                    5
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    место SEO студий России в e-commerce тематике (Рейтинг Рунета)
                                </div>
                            </div>
                        </div>
                        <div>
                           <div class="number-info">
                                <div class="number-info__title">
                                    5
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    место SEO студий России в e-commerce тематике (Рейтинг Рунета)
                                </div>
                            </div>
                        </div>
                        <div>
                           <div class="number-info">
                                <div class="number-info__title">
                                    5
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    место SEO студий России в e-commerce тематике (Рейтинг Рунета)
                                </div>
                            </div>
                        </div>
                        <div>
                          <div class="number-info">
                                <div class="number-info__title">
                                    5
                                </div>
                                <div class="number-info__img">
                                    <img src="img/svsh.png" width="150" alt="">
                                </div>
                                <div class="number-info__text">
                                    место SEO студий России в e-commerce тематике (Рейтинг Рунета)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows-wrapper">
                        <div class="arrows-main arrows-main--number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>