<div class="main-menu">
    <div class="main-menu__item">
      <div class="logo">
    <img src="../img/logo.png" alt="" width="210">
</div>
      <div class="name">
    Digital-агентство полного цикла
</div>
      <div class="contacts-link">
     <a class="phone-link" href="tel:84951182474">+7(495)118-24-74</a>
     <a class="email-link" href="mailto:manager@wesma.ru">manager@wesma.ru</a>
</div>
    </div>
    <div class="main-menu__item">
      <nav class="main-nav">
    <ul class="main-nav-list">
    <li class="main-nav-list__item"><a href="#">О компании</a>
    </li>
    <li class="main-nav-list__item"><a href="#">Портфолио</a>
    </li>
    <li class="main-nav-list__item"><a href="#">Кейсы</a>
    </li>
    <li class="main-nav-list__item"><a href="#">Контакты</a>
    </li>
</ul>
    <div class="main-nav__title text text--center">Наши услуги</div>
    <ul class="service-nav-list">
    <li class="service-nav-list__item"><a href="#">Создание сайтов</a>
    </li>
    <li class="service-nav-list__item"><a href="#">Продвижение сайтов</a>
    </li>
    <li class="service-nav-list__item"><a href="#">Поддержка сайтов</a>
    </li>
    <li class="service-nav-list__item"><a href="#">Интернет-реклама</a>
    </li>
</ul>
</nav>


      <div class="rating-wrapper">
        <div class="rating">
            <div class="rating__item">
                <img src="../img/runet.png" alt="" width="40">
            </div>
            <div class="rating__item">
                <div class="rating__text">
                    Рейтинг Рунета
                    <br>2020
                </div>
            </div>
            <ul class="rating-list">
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
            </ul>
        </div>
  </div>
    </div>
    <div class="main-menu__item">
      <div class="btn-actions">
    <div class="btn-magic-wrapper">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo"/>
    </filter>
  </defs>
</svg>

<span class="bubble-container">
  <a href="#" class="button button-bubble">
    Заказать звонок
  </a>
  <span class="button-bubble__effect-container">
    <span class="circle top-left"></span>
    <span class="circle top-left"></span>
    <span class="circle top-left"></span>

    <span class="button effect-button"></span>

    <span class="circle bottom-right"></span>
    <span class="circle bottom-right"></span>
    <span class="circle bottom-right"></span>
  </span>
</span>
</div>
    <div class="btn-magic-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>

        <span class="bubble-container">
  <a href="#" class="button button-bubble button-bubble--border">
    Пригласить на тендер
  </a>
  <span class="button-bubble__effect-container">
    <span class="circle top-left"></span>
        <span class="circle top-left"></span>
        <span class="circle top-left"></span>

        <span class="button effect-button effect-button--border"></span>

        <span class="circle bottom-right"></span>
        <span class="circle bottom-right"></span>
        <span class="circle bottom-right"></span>
        </span>
        </span>
    </div>
</div>
        <div class="social-link">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
  </div>
    </div>
</div>