<div class="rating-wrapper">
        <div class="rating">
            <div class="rating__item">
                <img src="../img/runet.png" alt="" width="40">
            </div>
            <div class="rating__item">
                <div class="rating__text">
                    Рейтинг Рунета
                    <br>2020
                </div>
            </div>
            <ul class="rating-list">
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
                <li class="rating-list__item">
                    <div class="rating-list__img">
                        <img src="../img/runet.png" alt="">
                    </div>
                    <div class="rating-list__text">
                        <a href="#">2 место</a> в разработке
                    </div>
                </li>
            </ul>
        </div>
  </div>